@use "../../global/scss/abstracts/variables" as var;
@use "../../global/scss/abstracts/mixins" as mix;

/**This is the block Style*/
.lt-process {
	.single-img,
	.single-video {
		img,
		video {
			width: 100%;
			height: 238px;
			object-fit: cover;
			@include mix.breakpoint(medium, true) {
				height: 486px;
			}
		}
	}

	.single-video {
		video {
			height: 450px;
		}
	}
	.process-content {
		font-size: 20px;
		line-height: normal;
		@include mix.breakpoint(small) {
			font-size: 14px;
		}

		h5 {
			line-height: normal;
			color: var(--color-lt-brand);
			@include mix.breakpoint(small, true) {
				font-size: 20px;
			}
		}
		> *:not(:last-child) {
			margin-bottom: 25px;
			@include mix.breakpoint(small) {
				margin-bottom: 14px;
			}
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}
