@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.default-single {
	.entry-content {
		@include mix.breakpoint(small, true) {
			letter-spacing: 0.02em;
		}
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: normal;
			@include mix.breakpoint(small, true) {
				letter-spacing: -0.02em;
			}
		}

		> *:not(.wp-block-spacer) {
			margin-bottom: 1.5rem;
			@include mix.breakpoint(small) {
				margin-bottom: 1rem;
			}
		}

		> *:last-child {
			margin-bottom: 0;
		}

		a:not(.btn) {
			color: var(--color-lt-accent);
		}

		blockquote {
			font-size: 16px;
			line-height: 1.5;
			letter-spacing: 0.02em;
			background-color: #eff6ff;
			padding: 24px;
			border-radius: 10px;
			@include mix.breakpoint(small) {
				font-size: 12px;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}

		ul {
			list-style-type: disc;
			padding-left: 30px;

			li {
				margin-bottom: 8px;
			}
		}

		.wp-block-rank-math-toc-block {
			h2 {
				margin-bottom: 1rem;
			}
		}
		@media screen and (max-width: 781px) {
			.wp-block-columns.is-layout-flex {
				gap: 8px;
			}
		}
	}
}

.default-sing-page {
	.wp-block-heading {
		margin-bottom: 1.4rem;
	}
	h2 {
		@include mix.breakpoint(small, true) {
			font-size: var(--text-h3);
		}
	}

	ul,
	ol {
		list-style: inherit;
		padding-left: 2rem;
	}

	a {
		color: var(--color-lt-brand);
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.blog-content .entry-content {
	h2 {
		font-size: var(--text-h4);
	}
	h3 {
		font-size: var(--text-h5);
	}
	.lt-ms-content {
		padding: 24px;
		border-radius: 20px;
		@media screen and (max-width: 767px) {
			padding: 0 8px 8px;
			border-radius: 0;
		}
	}
	.lt-ms-content__img-holder {
		aspect-ratio: 3/1.8;
		min-height: initial;
	}
	.lt-ms-content .rows {
		gap: 24px;
	}
	.lt-ms-content .rows,
	.container {
		padding: 0;
	}
	.lt-ms-content .rows > * {
		width: 100%;
	}
	.lt-ms-content .rows.flex-wrap-reverse {
		flex-wrap: wrap;
	}
	.lt-ms-content .btn {
		@media screen and (max-width: 767px) {
			padding-inline: 8px;
			line-height: 1.2;
		}
	}
}

.related-post .swiper-pagination-bullet {
	--swiper-pagination-bullet-width: 11px;
	--swiper-pagination-bullet-height: 11px;
	background: #eaeaea !important;
	opacity: 1 !important;

	&.swiper-pagination-bullet-active {
		background-color: var(--color-lt-accent) !important;
	}
}

// ---------------------------- Service Page
@include mix.breakpoint(small) {
	body.cs-service-page .lt-ms-content {
		padding-top: 0;
	}
}
