@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.default-single {
	.entry-content {
		@include mix.breakpoint(small, true) {
			letter-spacing: 0.02em;
		}
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: normal;
			@include mix.breakpoint(small, true) {
				letter-spacing: -0.02em;
			}
		}

		> *:not(.wp-block-spacer) {
			margin-bottom: 1.5rem;
			@include mix.breakpoint(small) {
				margin-bottom: 1rem;
			}
		}

		> *:last-child {
			margin-bottom: 0;
		}

		blockquote {
			font-size: 16px;
			line-height: 1.5;
			letter-spacing: 0.02em;
			background-color: #eff6ff;
			padding: 24px;
			border-radius: 10px;
			@include mix.breakpoint(small) {
				font-size: 12px;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.default-sing-page {
	.wp-block-heading {
		margin-bottom: 1.4rem;
	}
	h2 {
		@include mix.breakpoint(small, true) {
			font-size: var(--text-h3);
		}
	}

	ul,
	ol {
		list-style: inherit;
		padding-left: 2rem;
	}

	a {
		color: var(--color-lt-brand);
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.related-post .swiper-pagination-bullet {
	--swiper-pagination-bullet-width: 11px;
	--swiper-pagination-bullet-height: 11px;
	background: #eaeaea !important;
	opacity: 1 !important;

	&.swiper-pagination-bullet-active {
		background-color: var(--color-lt-accent) !important;
	}
}

body {
	&.single-service {
		.lt-popular-products {
			.sec-title{
				font-size: var(--text-h3);
			}
			.filter-holder {
				display: none;
			}
			.add_to_cart_button {
				display: none;
			}
		}
	}
}
