@use "../../global/scss/abstracts/variables" as var;
@use "../../global/scss/abstracts/mixins" as mix;

/**This is the block Style*/
.lt-inner-two-col-hero {
	--secGradColor: linear-gradient(
		135deg,
		#091e42 0%,
		#09224e 7.14%,
		#09265a 14.29%,
		#092a67 21.43%,
		#092e73 28.57%,
		#093280 35.71%,
		#09368e 42.86%,
		#083a9b 50%,
		#083ea9 57.14%,
		#0741b7 64.29%,
		#0645c5 71.43%,
		#0549d3 78.57%,
		#034de2 85.71%,
		#0251f0 92.86%,
		#0055ff 100%
	);
	@include mix.breakpoint(small) {
		background: var(--secGradColor);
	}
	.left-col {
		@include mix.breakpoint(small, true) {
			background: var(--secGradColor);
		}
	}

	.in-testimonial {
		&__content {
			*:last-child {
				margin-bottom: 0;
			}
		}
	}
	.in-testimonial {
		.swiper-slide {
			height: initial;
		}
	}
	.lt-slide-pagination {
		.swiper-pagination-bullet {
			--size: 13px;
			@include mix.breakpoint(small) {
				--size: 8px;
			}
		}
	}

	.no-testimonial{
		.breadcrumb {
			.bread-lists {
				justify-content: center;
			}
		}
	}
}
