@use "../../global/scss/abstracts/variables" as var;
@use "../../global/scss/abstracts/mixins" as mix;

/**This is the block Style*/
.has-four-col {
	.icon-box {
		max-width: 290px;
		@include mix.breakpoint(small){
			max-width: 250px;
		}
		&__icon {
			width: 64px;
			height: 64px;
			box-shadow:
				0px 1px 2px -1px #0000001a,
				0px 1px 3px 0px #0000001a;
			border-radius: 16px;
			background-color: var(--color-lt-white-lilac);
			padding: 14px;
			text-align: center;
			margin-inline: auto;
		}

		&__title{
			color: #292B32;
		}
	}
}
