@use "../abstracts/mixins" as mix;

// ─── Display ────────────────────────────────────────────────────────────────
// Base Display Utilities
.hidden {
	display: none;
}

.block {
	display: block;
}

// Responsive "Hidden" Utilities
.sm\:hidden {
	@include mix.breakpoint(small, true) {
		display: none;
	}
}

.md\:hidden {
	@include mix.breakpoint(medium, true) {
		display: none;
	}
}

.lg\:hidden {
	@include mix.breakpoint(wide, true) {
		display: none;
	}
}

// Responsive "Block" Utilities
.sm\:block {
	@include mix.breakpoint(small, true) {
		display: block;
	}
}

.md\:block {
	@include mix.breakpoint(medium, true) {
		display: block;
	}
}

.lg\:block {
	@include mix.breakpoint(wide, true) {
		display: block;
	}
}

// ─── Flex ────────────────────────────────────────────────────────────────
.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.justify-center {
	justify-content: center;
}

.shrink-0 {
	flex-shrink: 0;
}

// ─── Visibility ────────────────────────────────────────────────────────────────
.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}
