@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// .menu-toggle {
//     @include mix.flex(space-between, center, nowrap, column);
//     background: none;
//     border: none;
//     height: 24px;
//     padding: 0;
//     position: relative;
//     width: 40px;
//     z-index: 100;

//     @include mix.breakpoint(ipadPro, true) {
//         display: none;
//     }

//     span {
//         display: block;
//         width: 100%;
//         height: 3px;
//         // background: var.$color-primary;

//         &:nth-child(1) {
//             font-size: 0;
//             transition: transform 0.3s ease;

//             .menu-open & {
//                 transform: translateY(11px) rotate(45deg);
//             }
//         }

//         &:nth-child(2) {
//             transition:
//                 height 0.3s ease,
//                 opacity 0.3s ease;

//             .menu-open & {
//                 height: 0;
//                 opacity: 0;
//             }
//         }

//         &:nth-child(3) {
//             transition: transform 0.3s ease;

//             .menu-open & {
//                 transform: translateY(-10px) rotate(-45deg);
//             }
//         }
//     }
// }

.main-navigation {
    @include mix.breakpoint(ipadPro) {
        position: fixed;
        top: 0;
        left: 0;
        width: 25rem;
        height: 100dvh;
        background-color: var(--color-lt-snow-drift);
        z-index: 99;
        padding: 2rem 2rem 4rem;
        overflow: auto;
    }
    @include mix.breakpoint(smaller) {
        width: 100%;
    }

    @include mix.breakpoint(ipadPro, true) {
        padding-top: 2.25rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1rem 4rem;
        display: flex;
        justify-content: center;
        @include mix.breakpoint(ipadPro) {
            flex-direction: column;
            justify-content: flex-start;
        }

        li {
            a {
                transition: color 0.32s;
                text-decoration: none;

                &:hover {
                    @media (hover:hover) {
                        color: var(--color-lt-brand);
                    }
                }
            }
        }
    }

    .menu-item-has-children {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 16px;
        }

        > a {
            position: relative;
            display: inline-block;
            padding-right: 1rem;

            &:before,
            &:after {
                --size: 11px;
                content: "";
                position: absolute;
                background-color: #2e2e2e;
            }

            &:before {
               width: var(--size);
                height: 1px;
                right: 2px;
                top: calc(var(--size) - 2px);
            }

            &:after {
                top: calc(var(--size) - 7px);
                right: 7px;
                width: 1px;
                height: var(--size);
            }
        }

        &:hover > {
            @media (hover:hover) {
                a {
                    color: var(--color-lt-brand);

                    &::before,
                    &::after {
                        background-color: var(--color-lt-brand);
                    }
                }
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }

    .sub-menu {
        font-size: 12px;
        flex-wrap: nowrap;
        gap: 0.8rem;
        flex-direction: column;
        @include mix.breakpoint(ipadPro) {
            padding: 1rem 0 1rem 0.75rem;
        }
        @include mix.breakpoint(ipadPro, true) {
            position: absolute;
            top: 0;
            left: 0;
            top: calc(100% + 16px);
            border-radius: 8px;
            padding: 16px;
            background-color: var(--color-lt-snow-drift);
            width: 280px;
            visibility: hidden;
            opacity: 0;
            transition: all 0.32s;
            transform: translateY(8px);
            will-change: transform, opacity, visibility;
        }
    }
}
