@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main-navigation {
    @include mix.breakpoint(ipadPro) {
        position: fixed;
        top: 0;
        left: 0;
        width: 25rem;
        height: 100dvh;
        background-color: var(--color-lt-snow-drift);
        z-index: 99;
        padding: 2rem 2rem 4rem;
        overflow: auto;
        transform: translateX(-101%);
        transition: transform 1s;
    }
    @include mix.breakpoint(smaller) {
        width: 100%;
        padding-inline: 1rem;
    }

    @include mix.breakpoint(ipadPro, true) {
        padding-top: 2.25rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1rem 4rem;
        display: flex;
        justify-content: center;
        @include mix.breakpoint(ipadPro) {
            flex-direction: column;
            justify-content: flex-start;
        }

        li {
            a {
                transition: color 0.32s;
                text-decoration: none;

                &:hover {
                    @media (hover: hover) {
                        color: var(--color-lt-brand);
                    }
                }
            }
        }
    }

    .menu-item-has-children {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 16px;
        }

        > a {
            position: relative;
            display: inline-block;
            padding-right: 1rem;
        }

        .icon {
            --size: 12px;
            position: absolute;
            top: 4px;
            right: 0;
            height: var(--size);
            width: var(--size);
            @include mix.breakpoint(medium) {
                --size: 14px;
            }
            span {
                position: absolute;
                background-color: #2e2e2e;
            }

            span:first-child {
                width: 100%;
                height: 1px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            span:last-child {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 1px;
                height: 100%;
            }

            &.active {
                @include mix.breakpoint(ipadPro) {
                    span:last-child {
                        visibility: hidden;
                    }
                }
            }
        }

        &:hover > {
            @media (hover: hover) {
                a {
                    color: var(--color-lt-brand);

                    &::before,
                    &::after {
                        background-color: var(--color-lt-brand);
                    }
                }
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }

    .sub-menu {
        font-size: 12px;
        @include mix.breakpoint(ipadPro) {
            padding: 1rem 0 1rem 0.75rem;
            display: none;
        }
        @include mix.breakpoint(ipadPro, true) {
            display: block !important;
            position: absolute;
            top: 0;
            left: 0;
            top: calc(100% + 16px);
            border-radius: 8px;
            padding: 1rem 1.5rem;
            background-color: var(--color-lt-snow-drift);
            max-width: 260px;
            width: max-content;
            visibility: hidden;
            opacity: 0;
            transition: all 0.32s;
            transform: translateY(8px);
            will-change: transform, opacity, visibility;
            z-index: 4;
        }

        li {
            &:not(:last-child) {
                margin-bottom: 0.8rem;
            }
        }
    }
}

// -------------------------------- Menu Opened
body {
    &.menu-open {
        @include mix.breakpoint(ipadPro) {
            overflow: hidden;

            .main-navigation {
                transform: translateX(0);
            }

            .site-overlay {
                display: block;
            }
        }
    }
}
